@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../dist/assets/Bright.otf?family=Bright");
@font-face {
  font-family: Bright;
  src: url("../dist/assets/Bright.otf");
}
* {
  font-family: "Bright", sans-serif;
}
